In [1]:
import surprise

In [2]:
# Loading Data
from surprise import Dataset

movie_data = Dataset.load_builtin('ml-100k')

Dataset ml-100k could not be found. Do you want to download it? [Y/n] Trying to download dataset from https://files.grouplens.org/datasets/movielens/ml-100k.zip...
Done! Dataset ml-100k has been saved to C:\Users\LENOVO/.surprise_data/ml-100k

In [4]:
# Train/Test Split of Data
from surprise.model_selection import train_test_split

trainset, testset = train_test_split(movie_data, test_size = 0.2, random_state = 42)

In [8]:
# each tuple is in the form ({item_id}, {rating}). See the ratings of user 590
trainset.ur[590]

[(699, 4.0),
 (114, 4.0),
 (339, 5.0),
 (769, 5.0),
 (230, 4.0),
 (212, 5.0),
 (21, 5.0),
 (33, 3.0),
 (94, 4.0),
 (74, 2.0),
 (22, 4.0),
 (471, 5.0),
 (8, 3.0),
 (305, 3.0),
 (645, 3.0),
 (558, 2.0),
 (166, 4.0),
 (129, 4.0),
 (100, 5.0),
 (232, 3.0),
 (391, 3.0),
 (204, 3.0),
 (508, 4.0),
 (79, 3.0),
 (83, 4.0),
 (426, 1.0),
 (6, 3.0),
 (58, 3.0),
 (1119, 5.0),
 (76, 5.0)]

In [9]:
# Training A Recommender System
from surprise import KNNBasic

movie_recommender = KNNBasic()
movie_recommender.fit(trainset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [10]:
# Evaluating Recommender System Performance
predictions = movie_recommender.test(testset)

In [11]:
predictions[0]

Prediction(uid='907', iid='143', r_ui=5.0, est=4.039960584359155, details={'actual_k': 40, 'was_impossible': False})

In [14]:
from surprise import accuracy

accuracy.rmse(predictions)

RMSE: 0.9802

0.980150596704479

In [15]:
# Use SVD
from surprise import SVD
from surprise import accuracy

svd_recommender = SVD()
svd_recommender.fit(trainset)

svd_predictions = svd_recommender.test(testset)

accuracy.rmse(svd_predictions)

RMSE: 0.9358

0.9357500578878379

In [24]:
import pandas as pd
# Convert trainset to DataFrame
train_data = []

for user_id, ratings in trainset.ur.items():
    for movie_id, ratings in trainset.ur[user_id]:
        train_data.append((trainset.to_raw_uid(user_id), trainset.to_raw_iid(movie_id), ratings))

trainset_df = pd.DataFrame(train_data, columns = ['user_id', 'movie_id', 'rating'])
trainset_df.head()

  user_id movie_id  rating
0     877      381     4.0
1     877      451     4.0
2     877      557     4.0
3     877      692     4.0
4     877       56     5.0